<div class="container my-5" style="padding: 40px" >
  <div class="form">
    <h1>Add a new ingredient to <%= @cocktail.name %></h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "ADD INGREDIENT", class: "add-btn create-btn" %>
    <% end %>
  </div>
</div>
