<div class="container my-5" style="padding: 40px" >
  <div class="form">
    <h1> New review for<br> <%=  @cocktail.name %> </h1>
    <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.input :description %>
    <%= f.input :rating, collection: (0..5) %>
    <%= f.submit "ADD REVIEW", class: "add-btn create-btn" %>
    <% end %>
  </div>
</div>
