<div class="container col-6-offset-3">

  <h1>New review for <%=  @cocktail.name %></h1>
  <div>
    <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.input :rating, collection: (0..5) %>
    <%= f.submit "Add the Rating", class: "btn-flat" %>
    <% end %>
    <div>
      <%= link_to 'Cancel', cocktails_path %>
    </div>
  </div>
</div>
