<div class="container col-6-offset-3 my-5" style="width: 700px" >

  <h1> New review for <%=  @cocktail.name %> </h1>

  <div>
    <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.input :description %>
    <%= f.input :rating, collection: (0..5) %>
    <%= f.submit "Add Review", class: "btn-flat" %>
    <% end %>
    <div>
      <%= link_to 'Cancel', cocktails_path %>
    </div>
  </div>
</div>
